.code {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  overflow: auto;
  color: var(--primary-color);
  background: rgb(196 196 196 / 20%);
  border: 1px solid #000;
}

.color {
  &-primary {
    color: var(--primary-color);
  }

  &-secondary {
    color: var(--secondary-color);
  }
}

.copy-button {
  position: absolute;
  top: 20px;
  right: 20px;
}
