.wrapper {
  position: relative;
  min-height: 508px;
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);

  &Button {
    text-align: right;
  }

  &-avatar {
    display: flex;
    justify-content: center;
  }
}

.loader {
  position: absolute;
  top: 0;
  right: 18px;
  bottom: 0;
}

.title {
  margin-bottom: 20px;
  font: var(--font-m);
  font-size: 24px;
}

.button {
  &-cancel {
    margin-right: 20px;
    color: white;
    background: #f61818;
    border: 1px solid #f61818;

    &:hover {
      background: #b12828;
      border: 1px solid #b12828;
    }
  }
}

.input {
  margin-bottom: 5px;

  input {
    border: 2px solid transparent;
    border-radius: 4px;
  }

  &-edit {
    input {
      color: black;
      background: white;
      border: 2px solid black;
    }
  }
}

.currency {
  margin-bottom: 7px;
}
