.wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  caret-color: var(--primary-color);
  color: var(--primary-color);
}

.title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: 2px solid var(--primary-color);

  &.color {
    .primary {
      border-bottom: 2px solid var(--primary-color);
    }
  }
}

.input {
  margin-bottom: 10px;
  color: var(--primary-color);

  input {
    color: var(--primary-color);
  }

  span {
    white-space: nowrap;
  }
}

.submit {
  margin-left: auto;
}
