.button {
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;

    &:hover {
      background: none;
    }
  }
}

.variant {
  &-text {
    background: none;
    border: none;
    outline: none;

    &:hover {
      background-color: var(--button-hover-bg-color-primary);
    }
  }

  &-clear {
    background: none;
    border: none;
    outline: none;
  }

  &-outline {
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--primary-color);

    &:hover {
      background-color: var(--button-hover-bg-color-primary);
    }

    &:disabled {
      color: var(--button-disabled-color);
      border: 1px solid var(--button-disabled-color);
    }
  }

  &-square {
    padding: 0;
    background-color: var(--inverted-bg-color);

    &.size {
      &-medium {
        width: var(--font-line-m);
        height: var(--font-line-m);
      }

      &-large {
        width: var(--font-line-l);
        height: var(--font-line-l);
      }

      &-extra-large {
        width: var(--font-line-xl);
        height: var(--font-line-xl);
      }
    }
  }
}

.inverted {
  color: var(--inverted-primary-color);
  background-color: var(--inverted-bg-color);

  &.variant {
    &-outline {
      border-color: var(--inverted-primary-color);

      &:disabled {
        color: var(--button-disabled-color);
        border: 1px solid var(--button-disabled-color);
      }
    }
  }
}

.size {
  &-medium {
    font: var(--font-m);
  }

  &-large {
    font: var(--font-l);
  }

  &-extra-large {
    font: var(--font-xl);
  }
}
