.theme-dark {
  --primary-color: #000;
  --secondary-color: #fbf4f4;
  --accent-color: #000;

  // button
  --button-hover-bg-color-primary: rgb(25 118 210 / 4%);
  --button-disabled-color: rgb(0 0 0 / 26%);
}
