.theme-dark {
  --primary-color: #1e1c19;
  --secondary-color: #fbf8f4;
  --accent-color: #080707;

  // button
  --button-hover-bg-color-primary: rgb(25 118 210 / 4%);
  --button-disabled-color: rgb(0 0 0 / 26%);
}
