.theme-light {
  --primary-color: #192b6b;
  --secondary-color: #f4f5fb;
  --accent-color: #15337a;

  // button
  --button-hover-bg-color-primary: rgb(25 118 210 / 4%);
  --button-disabled-color: var(--secondary-color);
}
