.theme-light {
  --primary-color: #fbf8f4;
  --secondary-color: #7c6954;
  --accent-color: #db675c;

  // button
  --button-hover-bg-color-primary: rgb(25 118 210 / 4%);
  --button-disabled-color: var(--secondary-color);
}
