.theme-light {
  --primary-color: #fbf8f4;
  --secondary-color: #7c6954;
  --accent-color: #db675c;

  // button
  --button-hover-bg-color-primary: rgb(25 118 210 / 4%);
  --button-disabled-color: var(--secondary-color);

  // active
  --active-link: #080707;
  --activer-text-color: white;

  // listBox
  --text-color: black;
  --background-color: white;
  --active-list-box: #5169ff;
  --list-box-border-color: #b4b2b0;

  // drop-down
  --drop-down-text-color: black;
  --drop-down-background-color: white;
  --drop-down-active-list-box: #5169ff;
  --drop-down-border-color: #b4b2b0;
}
