@import "~../../node_modules/normalize.css/normalize.css";
@import "reset";
@import "./color/color";
@import "variables";
@import "mixin";
@import "./themes/dark";
@import "./themes/light";

body {
  min-height: 100vh;
  font: var(--font-m);
  letter-spacing: 0.5px;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 8px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
