.wrapper {
  display: flex;
}

.placeholder {
  margin-right: 5px;
}

.input {
  width: 100%;
  min-width: 60px;
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }

  &-error {
    color: red;
  }
}
