.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 6px 16px;
  font-size: 0.875rem;
  line-height: 1.43;
  border-radius: 4px;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.icon-with-children {
  display: flex;
  align-items: flex-start;
  padding-right: 10px;

  svg {
    flex: none;
    margin-right: 6px;
  }
}

.button-close {
  height: 24px;
}

.severity {
  &-success {
    color: #fff;
    background-color: #2e7d32;
  }
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  transition: width 0.5s;
}
