.app.dark {
  --bg-color: #090a6a;
  --inverted-bg-color: #e1dddd;
  --primary-color: #046e06;
  --secondary-color: #046e06;
  --inverted-primary-color: #05068c;
  --inverted-secondary-color: #1114f3;
}
