.wrapper {
  display: flex;
  align-items: center;
}

.list-box {
  position: relative;
}

.options {
  z-index: 3;
  width: 100%;
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--list-box-border-color);
  border-radius: 6px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  margin-right: 4px;
}

.item {
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;

  &:hover {
    color: var(--activer-text-color);
    background-color: var(--active-list-box);
  }
}

.icon {
  flex: none;
  margin-left: 8px;
}

.selected {
  color: var(--activer-text-color);
  background-color: var(--active-list-box);
}

.disabled {
  cursor: not-allowed;
  opacity: var(--disabled-opacity);
}

.color {
  &-primary {
    color: var(--primary-color);
    background-color: var(--secondary-color);

    .option {
      color: var(--primary-color);
      background-color: var(--secondary-color);
    }
  }

  &-secondary {
    color: var(--secondary-color);
    background-color: var(--primary-color);

    .option {
      color: var(--secondary-color);
      background-color: var(--primary-color);
    }
  }
}
