.list-box {
  position: relative;
  max-width: fit-content;
}

.options {
  position: absolute;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid #b4b2b0;
  border-top: none;
  border-radius: 6px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  cursor: pointer;

  &:hover {
    color: var(--activer-text-color);
    background-color: var(--active-list-box);
  }
}

.icon {
  margin-left: 8px;
}

.selected {
  color: var(--activer-text-color);
  background-color: var(--active-list-box);
}

.disabled {
  cursor: not-allowed;
  opacity: var(--disabled-opacity);
}

.color {
  &-primary {
    color: var(--primary-color);
    background-color: var(--secondary-color);

    .option {
      color: var(--primary-color);
      background-color: var(--secondary-color);
    }
  }

  &-secondary {
    color: var(--secondary-color);
    background-color: var(--primary-color);

    .option {
      color: var(--secondary-color);
      background-color: var(--primary-color);
    }
  }
}
