.list-box {
  position: relative;
  max-width: fit-content;
}

.options {
  position: absolute;
  z-index: 3;
  width: 100%;
  padding: 10px;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 2px solid var(--secondary-color);
  border-radius: 12px;
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  margin-right: 2px;
}

.active {
  color: var(--active-list-box);
}

.disabled {
  cursor: not-allowed;
  opacity: var(--disabled-opacity);
}
