.wrapper {
  position: relative;
  min-height: 200px;
}

.loader {
  position: absolute;
  top: 0;
  right: 100px;
}

.comment {
  margin-top: 15px;
}

.wrapper-not-comment {
  display: flex;
  align-items: center;
  justify-content: center;
}
